.main {
    @mixin reset block;

    flex: 1 1 0;
    text-align: center;
    position: relative;
    padding: 25px 15px 0;

    &:not([data-status=active]):not([data-status=prev]) {
        color: $textDisabledColor;
    }
}

.svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.prev,
.active {
    fill: $brandColor;
}

.gray {
    fill: $gray80;
}

.next {
    stroke: $gray80;
    stroke-width: 3px;
    fill: white;
}

.check {
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: square;
    fill: none;
}
