@import './shared.pcss';

.main {
    @mixin reset table-cell;

    box-sizing: content-box;
    vertical-align: top;
    text-align: left;

    @if $theme == enterprise {
        @mixin interactive;

        border-top: 1px solid $tableBorder;
        border-bottom: 1px solid $tableBorder;

        + .main {
            border-left: 1px solid $tableBorder;
        }
    }

    @else {
        background-color: $white;
        font-weight: bold;
        border-bottom: 1px solid $gray20;
    }

    &:focus {
        background: color($focusColor blend(#fff 88%) s(100%));
        outline: none;
    }

    &[data-dragging] {
        @if $theme == enterprise {
            background: $gray80;
            box-shadow: none;
        }
    }
}

.inner {
    @mixin reset flex;
    @mixin clearfix;

    -webkit-user-drag: element; /* the reset mixin disables the drag in Chrome & Safari */
    padding: 4px 8px;
    position: relative;

    [data-dragging] > & {
        opacity: 0;
    }

    &[data-draggable] {
        padding-left: 16px;
    }

    &[data-text-align=left] {
        justify-content: flex-start;
    }

    &[data-text-align=right] {
        justify-content: flex-end;
    }

    &[data-text-align=center] {
        justify-content: center;
    }

    /* The drag ghost */
    &[data-helper] {
        position: absolute;
        left: -10000px;
        top: -10000px;
        box-shadow: $fixedNavbarShadow;
        box-sizing: border-box;

        @if $theme == enterprise {
            @mixin interactive;

            background-repeat: repeat-x;
            border: 1px solid $tableBorder;
        }

        @else {
            background-color: $white;
            font-weight: bold;
            border: 1px solid $gray20;
        }
    }
}

.label {
    flex: 0 1 auto;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;

    &[data-truncate] {
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &[data-sortable] {
        padding-right: 12px;
    }

    [data-text-align=left] > & {
        text-align: left;
    }

    [data-text-align=right] > & {
        text-align: right;
    }

    [data-text-align=center] > & {
        text-align: center;
    }
}

.sortIcon {
    padding-left: 4px;
    position: absolute;
    right: 0;
    top: -1px;
}

.resize {
    @mixin reset block;

    position: absolute;
    right: -5px;
    width: 9px;
    top: 0;
    bottom: 0;
    z-index: 1;

    &:hover {
        cursor: col-resize;
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &:focus {
        background: $backgroundColorFocusTransparent;
        outline: none;

        &::before {
            content: '';
            position: absolute;
            background: $focusColor;
            left: 4px;
            width: 1px;
            top: 0;
            bottom: 0;
        }
    }
}

@media print {
    .main {
        background-image: none;
    }
}

.drag {
    position: absolute;
    display: block;
    left: 5px;
    top: 5px;
    height: 14px;
    cursor: move;
    width: 7px;
    background: $draggableBackground;
    opacity: 0.5;
}

.guideLine {
    @mixin reset block;

    width: 1px;
    position: absolute;
    background-color: $linkColor;
    height: 100%;
    top: 0;
    z-index: 1;

    &[data-position=before] {
        float: left;

        .main:not(:first-child) > & {
            margin-left: -1px;
        }
    }

    &[data-position=after] {
        right: 0;
    }
}
