@import './shared.pcss';

.main {
    @mixin reset table-row;
}

.odd {
    composes: main;
}

.even {
    composes: main;
    background-color: $tableBackgroundAccent;
}

.none {
    composes: main;
}

.expansionCell {
    width: 35px;
    border-right: 1px solid $tableBorder;
    cursor: pointer;

    &:hover {
        background-color: #ebebeb;
    }

    &:focus {
        background: $backgroundColorFocusTransparent;
    }
}

.disabledExpansionCell {
    width: 35px;
    border-right: 1px solid $tableBorder;
}

@media print {
    .main {
        background-color: none;
    }
}
