.main {
    @mixin reset block;

    display: block;
    max-width: 600px;
    margin-bottom: 10px;

    &[aria-invalid] {
        color: $errorColor;
    }
}

.label {
    @mixin reset block;

    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    color: inherit;
    flex: 0 0 auto;

    &[data-size=small] {
        font-size: $fontSizeSmall;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.labelLeft {
    composes: label;
    float: left;
    text-align: right;
}

.labelTop {
    composes: label;
}

.controlsStack {
    flex-direction: column;
}

.help {
    font-size: $fontSizeSmall;
    color: $textGray;
    margin-top: 2px;

    [aria-invalid] > & {
        color: inherit;
    }
}
