.main {
    @mixin reset block;

    color: $textGray;
    font-size: 11px;
    padding: 3px 8px;
    border-bottom: 1px dotted $borderColor;
    text-transform: uppercase;

    &:not(:first-child) {
        border-top: 1px solid $borderColor;
    }
}
