.item {
    position: relative;
    display: flex;
    flex-direction: row;
}

.link {
    @mixin reset block;

    padding: 5px 8px;
    position: relative;
    cursor: pointer;
    font-weight: normal;
    line-height: $baseLineHeight;
    color: $linkColor;
    text-decoration: none;
    word-wrap: break-word;
    max-width: 100%;

    @media all and (-ms-high-contrast: none) {
        max-width: calc(100% - 0.01px); /* fixes IE11 flex bug */
    }

    /* stylelint-disable length-zero-no-unit */
    flex: 1 0 0px;
    /* stylelint-enable */

    .item + .item > & {
        border-top: 1px dotted $borderColor;
    }

    &[data-selectable=true] {
        padding-left: 23px;

        &[data-selectable-appearance=checkbox] {
            padding-left: 28px;
        }
    }

    /*  truncated dropdown text */
    &[data-truncation=false] {
        white-space: normal;
    }

    /*  truncated dropdown text */
    &[data-truncation=true] {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:not([disabled]) {
        &:hover {
            color: $linkColorHover;
            background: $backgroundColorHover;
        }

        &:focus {
            outline: 0;
            background: $backgroundColorFocusTransparent;
        }
    }

    &[data-active] {
        background-color: $backgroundColorFocusTransparent;
    }

    &[data-has-secondary=true] {
        margin-right: 40px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1px dotted  $borderColor;
    }

    [disabled] {
        color: $textDisabledColor;
        cursor: not-allowed;
    }
}

.secondaryLink {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.label {
    overflow: inherit;
    white-space: inherit;
    text-overflow: inherit;
    max-width: 100%;

    [data-truncation=true] > & {
        display: block;
        clear: both;
    }
}

.itemDescription {
    color: $textGray;
    font-size: $fontSizeSmall;
    overflow: inherit;
    white-space: inherit;
    text-overflow: inherit;
}

.itemDescriptionBottom {
    composes: itemDescription;
    display: block;
}

.itemDescriptionRight {
    composes: itemDescription;
    float: right;
    padding-left: 20px;
    max-width: 50%;
    text-align: right;
    box-sizing: border-box;
}

.itemSelectedIcon {
    position: absolute;
    left: 8px;
    top: 5px;
}

.itemCheckbox {
    @mixin reset;
    @mixin interactive;

    width: $baseLineHeight;
    height: $baseLineHeight;
    border-radius: $baseBorderRadius;
    border-style: solid;
    padding: 2px;
    position: absolute;
    left: 8px;
    top: 5px;

    .link:hover > & {
        @mixin interactive-hover;

        cursor: pointer;
    }
}

.itemIcon {
    padding-right: 3px;
    min-width: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    transform: translateY(-1px);
}

.info {
    color: $textGray;
    padding: 5px 8px;
}

.submenu {
    float: right;
    padding-left: 10px;
    color: $textGray;
}
