.main {
    @mixin reset block;

    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $white;
    min-width: 60px;

    + .main {
        border-top: 1px solid #999;
    }
}

.heading {
    color: $textGray;
}
