.main {
    @mixin reset inline;

    font-family: $monoFontFamily;
    white-space: pre;
    text-align: left;
}

.expandLink {
    cursor: pointer;
    font-family: inherit;

    &:hover:not([disabled]) {
        text-decoration: none;
    }
}

.collapsed {
    display: none;
}

.property {
    font-weight: bold;
    color: $syntaxRed;
}

.string {
    color: $syntaxTeal;
}

.number {
    color: $syntaxBlue;
}

.boolean {
    color: $syntaxRed;
}

.interactiveValue:hover {
    background-color: $backgroundColorHover;
}
