.main {
    @mixin reset flex;

    flex: 0 0 auto;
    position: relative;
}

.link {
    line-height: 24px;
    display: block;
    padding: 0 20px 0 30px;

    .main:first-child > & {
        padding-left: 20px;
    }

    [data-active=false] > & {
        @mixin interactive;

        border-top-style: solid;
        border-bottom-style: solid;

        &:hover {
            @mixin interactive-hover;

            box-shadow: none;
        }
    }

    [data-active=true] > & {
        background: $white;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $white;
        color: $textColor;
        cursor: default;

        @if $theme == lite {
            border-top-color: $gray20;
        }
    }

    &:focus {
        background: color($focusColor blend(#fff 88%) s(100%));
        box-shadow: none;
    }
}

.icon {
    display: inline-block;
    transform: translateY(-1px);
    padding-right: 3px;
}

.angle {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    backface-visibility: visible;
    z-index: 1;
    border: inherit;
    background: inherit;
}

.rightAngle {
    composes: angle;
    right: -10px;
    transform: skewX(20deg);
    border-right: 1px solid $borderColor;

    @if $theme == lite {
        border-right-color: $gray20;
    }
}

.leftAngle {
    composes: angle;
    left: 0;
    transform: skewX(-20deg);
    border-left: 1px solid $borderColor;

    @if $theme == lite {
        border-left-color: $gray20;
    }

    .main:first-child & {
        display: none;
    }
}
