.main {
    @mixin reset flex;
    @mixin interactive;

    height: 26px;
    content: '';
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;

        @if $theme == lite {
            border-bottom-color: $gray20;
        }
    }
}
