.main {
    @mixin reset flex;

    flex-direction: column;
    max-height: calc(100vh - 20px);
}

.footer {
    padding: 5px 8px;
    color: $textGray;

    &:not([data-placement=above]) {
        border-top: 1px solid $borderColor;
    }

    &[data-placement=above] {
        border-bottom: 1px solid $borderColor;
    }
}

.menu {
    overflow-y: auto;
    flex: 0 1 auto;
}

.loading {
    @mixin reset flex;

    padding: 5px 8px;
}

.wait {
    margin-right: 5px;
    flex: 0 0 auto;
}

.loadingMessage {
    color: $textGray;
    flex: 1 0 0;
}
