.main {
    @mixin reset flex;

    flex-flow: row nowrap;

    &[data-align-items=start] {
        align-items: flex-start;
    }

    &[data-align-items=end] {
        align-items: flex-end;
    }

    &[data-align-items=center] {
        align-items: center;
    }

    &[data-align-items=stretch] {
        align-items: stretch;
    }
}

.divider {
    border-left: $borderLightColor 1px solid;
    flex: 0 0 1;
    align-self: stretch;
}
