.panel {
    @mixin reset;

    position: fixed;
    display: flex;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    background-color: white;
    z-index: $zindexModal;
}

.leftPanel {
    composes: panel;
    top: 0;
    left: 0;
    height: 100vh;
}

.rightPanel {
    composes: panel;
    right: 0;
    top: 0;
    height: 100vh;
}

.topPanel {
    composes: panel;
    top: 0;
    left: 0;
    width: 100vw;
}

.bottomPanel {
    composes: panel;
    left: 0;
    bottom: 0;
    width: 100vw;
}

.leftInner,
.rightInner {
    height: 100%;
}

.topInner,
.bottomInner {
    width: 100%;
}
