.icon-alert {
	color: $yellow;
	font-size: 22px;
    padding-right: 10px;
}

.icon-check-circle {
	color: $green;
	font-size: 22px;
    padding-right: 10px;
}

.alerts.shared-flashmessages {
	padding-left: 0;
}

.btn-primary {
	margin-left: 5px;
}