.main {
    @mixin reset block;
}

.inline {
    composes: main;
    display: inline-block;
}

.toggle {
    display: block;
}

.toggleInline {
    display: inline-block;
}

.content {
    padding: 8px;
    font-size: $fontSizeSmall;
}

.link {
    padding: 0 2px;
    font-size: 0.75em;
    line-height: 1;
    vertical-align: top;
    cursor: help;
    font-weight: normal;

    &:not([disabled]):hover {
        text-decoration: none;
    }
}
