/* ideally these styles should live in a .pcssm file that is imported by staticoptionscontrol.js.
   But, staticoptionscontrol.js is part of splunkjs which doesn't support .pcssm file for now.
 */

.static-options-footer {
  padding-left: 21px;
  margin-bottom: 10px;
}

.static-options-footer i.icon-plus {
  padding-right: 5px;
}
