.pre {
    @mixin reset block;

    line-height: 17px;
    text-align: left;
    tab-size: 4;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    hyphens: none;
    overflow-x: auto;
    margin-bottom: 1.3em;

    &::selection {
        background: color($focusColor a(12%) s(100%));
    }
}

.code {
    font-family: $monoFontFamily;
}

.indent:not(:last-child) {
    background-image: linear-gradient(to left, color($black a(0.15)) 1px, color($black a(0)) 1px, color($black a(0)));
}

.comment,
.prolog,
.doctype,
.cdata {
    color: $syntaxGray;
}

.punctuation {
    color: $syntaxGray;
}

.namespace {
    opacity: 0.7;
}

.property,
.tag,
.boolean,
.number,
.constant,
.symbol,
.deleted {
    color: $syntaxPurple;
}

.selector,
.attr-name,
.string,
.char,
.builtin,
.inserted {
    color: $syntaxGreen;
}

.operator,
.entity,
.url,
.language-css .string,
.style .string {
    color: $syntaxBrown;
}

.atrule,
.attr-value,
.keyword {
    color: $syntaxBlue;
}

.function {
    color: $syntaxRed;
}

.regex,
.important,
.variable {
    color: $syntaxOrange;
}

.important,
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.entity {
    cursor: help;
}
