/*  Splunk: Component: Schedule PDF */
/*  =============================== */
/*  schedule pdf modal dialog */

/*
	markup missing ...
*/
.schedule-pdf {
	.help-block {
		line-height: 1.2em;
	}
	.preview-actions {
		clear: both;
		a {
			display: block;
		}
		/*  TODO: this should probably be inline-block */
		.test-email {
			width: 100px;
			float: left;
			.error {
				color: $red;
			}
		}
	}
}
