.more-info {
    .control-group {
        width: 330px;
        clear: both;
    }
    .control-label {
        width: 55px;
    }
    .controls {
        margin-left: 70px;
    }
    .help-block {
        width: 170px;
    }

    .form-vertical {
        .help-block {
            position: initial;
            margin-left: initial;
            width: initial;
        }
    }
}