/* SPLUNK COLOR 
$main: #536E83;
*/
$accent: #31343a;
$second: #7191A8;
$appbar-lg: 128px;
$appbar-md: 63px;
$large: 1024px;
$medium: 840px;

$main: #3890ff;

$splunkbarHeight: 40px;
$dashboardBackgroundColor: #f1f3f6;

/* DCE-OEM-CHANGE 新增 body 背景色*/
$dce-bg: #f1f3f6;

/* DCE-OEM-CHANGE 新增 AppBar 背景色*/
$dce-pale: #e4e7ed;
$dce-light-black: #2c3e50;
$dce-black: #1f2126;
$dce-black-darker: #1f2126;
$dce-black-light: #595f69;
$dce-grey-dark: #9ba3af;
