.filter {
    padding: 8px;
    min-width: 160px;

    :not([data-placement=above]) > & {
        border-bottom: 1px solid $borderColor;
    }

    [data-placement=above] > & {
        border-top: 1px solid $borderColor;
    }
}

.main[data-select-appearance=link] {
    vertical-align: baseline;
}

.linkIcon {
    padding-right: 2px;
}

.linkCaret {
    padding-left: 2px;
}
