.main {
    border: 1px solid $borderColor;
    border-radius: $baseBorderRadius;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2px 0 0 2px;
    min-height: $inputHeight;
    background-color: $white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    max-height: 300px;
    overflow-y: auto;

    @if $theme == lite {
        border-color: $gray20;
    }

    &[data-hasFocus] {
        border-color: $focusColor;
        box-shadow: 0 0 8px color($focusColor a(60%));
    }

    &[aria-disabled] {
        cursor: not-allowed;
        background-color: $gray96;
    }

    &[aria-invalid] {
        border-color: $errorColor;
        color: $errorColor;
    }

    &[data-size=small] {
        min-height: $inputHeightSmall;
        padding: 1px 0 0 1px;
    }

    &[data-inline] {
        width: 400px;
    }
}

.clear {
    color: $textGray;
}

.selectedItem {
    max-width: 100%;
    flex: 0 1 auto;
}

.input {
    @mixin reset block;

    flex: 1 0 auto;
    line-height: 12px;
    padding: 4px;

    .selectedItem + & {
        padding-left: 2px;
    }

    &[data-size=small] {
        padding: 3px;
        font-size: $fontSizeSmall;
    }
}
