.main[data-inline] {
    width: 400px;
}

.filter {
    padding: 8px;
    min-width: 160px;

    :not([data-placement=above]) > & {
        border-bottom: 1px solid $borderColor;
    }

    [data-placement=above] > & {
        border-top: 1px solid $borderColor;
    }
}

.count {
    padding-right: 5px;
}

.toggleAllControls {
    padding: 5px 8px;

    &:not([data-placement=above]) {
        border-bottom: 1px solid $borderColor;
    }

    &[data-placement=above] {
        border-top: 1px solid $borderColor;
    }
}

.selectAll {
    margin-right: 20px;
}
