.main {
    @mixin reset block;

    display: flex;
    position: relative;
    margin: 0;

    &[data-size=medium] {
        height: $inputHeight;
        line-height: $baseLineHeight;
        padding: 5px 7px;
    }

    &[data-size=small] {
        height: $inputHeightSmall;
        font-size: $fontSizeSmall;
        padding: 3px 5px;
    }

    [data-inline] + &[data-inline] {
        margin-left: 3px;
    }
}
