.main {
    width: 220px;
    height: auto;
    padding: 8px;
}

.table {
    @mixin reset table;

    table-layout: fixed;
    border-spacing: 3px;
    width: 100%;
    margin: 0;
}

.th {
    @mixin reset table-cell;

    text-align: center;
    padding-bottom: 2px;
    color: $textGray;
    font-size: $fontSizeSmall;
}
