.td {
    @mixin reset table-cell;
}

.tdSelected {
    composes: td;
}

.button {
    @mixin reset block;

    width: 2em;
    text-align: center;
    line-height: 2em;
    color: $linkColor;
    border-radius: $baseBorderRadius;

    &:hover {
        color: $linkColorHover;
        border-color: $linkColorHover;
        background-color: $backgroundColorHover;
        cursor: pointer;
    }

    &:focus {
        color: $linkColorHover;
        border-color: $focusColor;
        background-color: $backgroundColorFocusTransparent;
    }
}

.buttonSelected {
    composes: button;

    &,
    &:hover,
    &:focus {
        border-color: $linkColorHover;
        background-color: $linkColorHover;
        color: $white;
    }
}
