$arrowHeight: 8px;

.main {
    position: fixed;
    z-index: $zindexPopover;
    left: -300%;
    top: -300%;
}

.boxWrapper {
    @mixin reset block;

    padding: $arrowHeight;
}

.box {
    @mixin reset block;

    background-color: transparent;
}

.light {
    composes: box;
    background-color: $white;
    color: $textColor;
    border: 1px solid $borderColor;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: $borderRadiusSmall;
}

.dark {
    composes: box;
    border-radius: $baseBorderRadius;
    background-color: $gray20;
    color: $white;
}

.arrow {
    width: 0;
    height: 0;
    border-left: $arrowHeight solid transparent;
    border-right: $arrowHeight solid transparent;
    position: absolute;
    border-bottom: $arrowHeight solid $borderColor;
}

/* IE11 hack to maintain opacity transition */
@media all and (-ms-high-contrast: none) {
    .arrow {
        opacity: inherit;
    }
}

.lightArrow {
    composes: arrow;

    /*  generated arrow */
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: $arrowHeight solid transparent;
        border-right: $arrowHeight solid transparent;
        border-bottom: $arrowHeight solid $white;
        position: absolute;
        top: 1px;
        left: 0;
        margin-left: -$arrowHeight;
    }
}

.darkArrow {
    composes: arrow;
    border-bottom-color: $gray20;
}

.lowerRightCorner {
    position: fixed;
    right: 0;
    bottom: 0;
}
