$incrementorWidthSmall: 16px;
$incrementorWidth: 20px;
$incrementorWidthLarge: 30px;

.main {
    &[data-size=small] {
        &[data-inline] {
            width: 80px;
        }

        &[data-position=first] {
            padding-right: $incrementorWidthSmall;
        }

        &[data-position=last] {
            padding-left: $incrementorWidthSmall;
        }
    }

    &[data-size=medium] {
        &[data-inline] {
            width: 100px;
        }

        &[data-position=first] {
            padding-right: $incrementorWidth;
        }

        &[data-position=last] {
            padding-left: $incrementorWidth;
        }
    }

    &[data-size=large] {
        &[data-inline] {
            width: 140px;
        }

        &[data-position=first] {
            padding-right: $incrementorWidthLarge;
        }

        &[data-position=last] {
            padding-left: $incrementorWidthLarge;
        }
    }
}

.controls {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $incrementorWidth;

    [data-size=small] > & {
        width: $incrementorWidthSmall;
    }

    [data-size=large] > & {
        width: $incrementorWidthLarge;
    }

    &[data-position=last] {
        right: 0;
    }

    &[data-position=first] {
        left: 0;
    }
}

.plus,
.minus {
    position: absolute;
    padding: 3px;
    font-size: inherit;
    min-height: 0;
    height: calc(50% + 0.5px);
    width: 100%;
}

.plus {
    top: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.minus {
    bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
