.main {
    @mixin reset block;

    font-weight: normal;
    margin: 1.414em 0 0.4em;
    line-height: 1.2;
}

.h1 {
    composes: main;
    font-size: 38px;
    font-weight: 200;
    margin-top: 0;
}

.h2 {
    composes: main;
    font-size: calc($baseFontSize * 2);
}

.h3 {
    composes: main;
    font-size: $fontSizeLarge;
    font-weight: 400;
}

.h4 {
    composes: main;
    font-weight: bold;
    font-size: calc($baseFontSize + 2px);
}

.h5 {
    composes: main;
    font-weight: 600;
}
