.main {
    flex: 0 0 auto;

    path {
        fill: currentColor;
    }
}

.inline {
    composes: main;
    vertical-align: middle;
    display: inline-block;
}

.block {
    composes: main;
    display: block;
    margin: 0 auto;
}
