.main {
    flex: 0 0 auto;
    padding: 10px;
    text-align: right;
    background: $gray96;
    border-top: 1px solid $borderColor;

    @if $theme == enterprise {
        border-radius: 0 0 8px 8px;
    }

    @if $theme == lite {
        border-top-color: $gray60;
    }
}
