.main {
    flex: 0 0 auto;
    border-bottom: 1px solid $borderColor;
    position: relative;
    background: $gray96;
    min-height: 30px;

    &[data-has-close] {
        padding-right: 40px;
    }

    @if $theme == enterprise {
        border-radius: 8px 8px 0 0;
    }

    @if $theme == lite {
        border-bottom-color: $gray60;
    }
}

.closeWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    width: 0;
    max-height: 30px;
    transform-origin: bottom right;
    transform: rotate(-90deg) translateX(100%);
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(90deg) translate(-50%, -50%);
}

.title {
    @mixin reset block;

    font-size: $fontSizeLarge;
    line-height: 22px;
    margin: 0;
    overflow-wrap: break-word;
    padding: 15px 20px;
    font-weight: normal;
}
