.modal {
    @mixin reset;

    top: 40px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 80px);
    max-width: calc(100vw - 80px);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: $zindexModal;

    @if $theme == lite {
        border: 1px solid $gray20;
    }
}
